@import "./variables.scss";

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-align($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}

@mixin shadow($size, $color) {
  box-shadow: 0 0 $size $color;
}

@mixin text-white {
  color: $shade-white;
}

@mixin pad-top($size) {
  padding-top: $size;
}

@mixin pad-right($size) {
  padding-right: $size;
}

@mixin pad-bottom($size) {
  padding-bottom: $size;
}

@mixin pad-left($size) {
  padding-left: $size;
}
