// Background colors
$bg-primary: #01000a;
$bg-light: #02000f;

// Main colors
$shade-white: #efefef;
$color-blue: #7fd8be;
$color-purple: #7855b4;
$color-red: #c71a37;

// Light colors
$light-blue: #e0f5ef;
$light-purple: #9a7fc7;
$light-red: #e32646;

$radius-primary: 0.5rem;
