// Background colors
$bg-primary: #01000a;

// Main colors
$shade-white: #efefef;
$color-blue: #7fd8be;
$color-purple: #7855b4;
$color-red: #c71a37;

// Light colors
$light-blue: #e0f5ef;
$light-purple: #9a7fc7;
$light-red: #e32646;

// Font sizes
$font-primary: 1rem;
$font-large: 2rem;

// Font weights
$font-light: 400;
$font-medium: 500;
$font-heavy: 700;

// Padding
$pad-small: 0.5rem;
$pad-medium: 1rem;
$pad-large: 1.5rem;

// General styles
$radius-medium: 0.5rem;
